<%= render 'public/shared/header' %>
<div>
  <div>
    <h3>レシピ：<%= @recipe.name %></h3>
  </div>
  <div></div>
</div>
<div>
  <div>
    <div>
      画像
    </div>
    <div>
      何人前、ジャンル、カロリー、時間、難しさ、誰に見せるか
    </div>
  </div>
</div>
<div>
  <div>
    <h3><%= @recipe.name %></h3>
  </div>
  <div>
    材料
  </div>
  <div>
    方法
  </div>
</div>
<div>

</div>