@import '~bootstrap/scss/bootstrap';
@import "jquery.tagit";       // 記述の順番に注意
@import "tagit.ui-zendesk";   // こっちを後に書かないと、タグ削除（ x ）が表示されない
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 40px;
  background-color: black;
  margin-bottom: 20px;
  text-align: center;
}

.main {
  height:1000px;
}

.image {
  margin-right: 15px;
}

.top {
  height: 500px;
}

.relete {
  margin-bottom: 10px;
}
h2 {
  margin: 0 0 30px 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.header {
  margin-left: 40%;
  display: flex;
}

.header li {
  margin: 15px;
}

.field {
  margin: 15px;
}

.white {
  color: white;
}

.hot-recipes {
  margin-left: 30px;
}

.hot-recipe {
  width: 50px;
}
.category {
  margin: 30px 50px;
  width: 100px;
}

.ranking-1 {
  width: 210px;
  height: 210px;
  background-color: red;
  margin: 5px 5px;
}
.ranking-23 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 5px 5px;
}
.mar-btm-50 {
  margin-bottom: 50px;
}
//.top {
//  background-image: ;
//}
footer {
  border-top: 1px solid;
  background-color: #fff3ff;
}
.footer-in {
  padding: 32px 60px;
  text-align: center;
}

.footer-section {
  margin: 100px 30px;
}

.footer-text {
  margin: 0 100px;
}